<div class="page-container">
  <div class="page-title">
    Interfata text-Protege pentru vizualizare/editare
  </div>
  <div class="page-subtitle">
    Grupa B1
  </div>
  <div class="page-description">
    Modulul are ca scop crearea unei interfete pentru vizualizarea conceptelor si relatiilor dintre cuvinte dintr-un text, pe baza unei ontologii. De
    asemenea va permite editarea acesteia, pe baza textului, prin adaugarea/eliminarea de relatii, concepte.
  </div>
	<div class="page-content">
    <div class="page-items-container">
      <div class="item-info-title">
        GUI - responsabil cu implementarea interfetei
      </div>
      <div class="item-info">
        <span>Membri:</span>
        Chiriac Cosmin, Giosanu George, Iacob Cristian, Rusu Madalina, Spiridon Andra
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        VIEW - responsabil cu interogarea ontologiei(vizualizarea conceptelor, relatiilor dintre entitati
      </div>
      <div class="item-info">
        <span>Membri:</span>
        Belciuganu Adrian, Chicosi Raluca, Chitic Andrei, Guler Afanasie, Lucasi Claudia Alexandra,
        Maxim Dragos Andrei, Tuiu Costel
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        EDIT - responsabil cu adaugarea si stergerea de concepte, relatii dintre entitati
      </div>
      <div class="item-info">
        <span>Membri:</span>
        Budaca Eduard, Creanga Irina Iulia, Domnaru Alexandru, Rusu Bogdan, Samson Georgiana
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        ACCES INFORMATII - responsabil cu prelucrarea textului
      </div>
      <div class="item-info">
        <span>Membri:</span>
        Chmilevski Monica-Eliza, Coros Andrei-Stefan, Galatanu Mircea-Andrei, Grigore Marius-Constantin,
        Ivascu Gabriela, Mazilu Florin, Riscanu Andrei, Bogatu Ion
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        ADMINISTRARE
      </div>
      <div class="item-info">
        <span>Membri:</span>
        Maxim Dragos Andrei, Rusu Bogdan
      </div>
    </div>
	</div>
</div>
