<html lang="ro">
	<head>
		<link rel="stylesheet" href="b1-page.component.css">
	</head>
	<h1>Interfa&#539;&#259; text-Protege pentru vizualizare/editare</h1>
	<div>
		<h3>Prezentare:</h3>
		<p>Modulul are ca scop crearea unei interfe&#539;e pentru vizualizarea conceptelor &#x219;i rela&#539;iilor dintre cuvinte &#238;ntr-un text, pe baza unei ontologii. De
		asemenea va permite &#x219;i editarea acesteia, pe baza textului, prin ad&#259;ugarea/eliminarea de rela&#539;ii, concepte
		</p>
		<h3>Submodule:</h3>
		<ul>
			<li>GUI - responsabil cu implementarea interfe&#539;ei:
				<ul>
					<li>Chiriac Cosmin</li>
					<li>Giosanu George</li>
					<li>Iacob Cristian</li>
					<li>Rusu M&#259;d&#259;lina</li>
					<li>Spiridon Andra</li>
				</ul>
			</li>
			<li>VIEW - responsabil cu interogarea ontologiei(vizualizarea conceptelor, rela&#539;iilor dintre entit&#259;&#539;i):
				<ul>
					<li>Belciuganu Adrian</li>
					<li>Chico&#x219; Raluca</li>
					<li>Chitic Andrei</li>
					<li>Guler Afanasie</li>
					<li>Luca&#x219;i Claudia Alexandra</li>
					<li>Maxim Drago&#x219; Andrei</li>
					<li>&#538;uiu Costel</li>
				</ul>
			</li>
			<li>EDIT - responsabil cu ad&#259;ugarea/&#x219;tergerea de concepte, rela&#539;ii &#238;ntre entit&#259;&#539;i:
				<ul>
					<li>Budaca Eduard</li>
					<li>Creang&#259; Irina Iulia</li>
					<li>Domnaru Alexandru</li>
					<li>Rusu Bogdan</li>
					<li>Samson Georgiana</li>
				</ul>
			</li>
			<li>ACCES INFORMA&#538;II - responsabil cu prelucrarea textului:
				<ul>
					<li>Chmilevski Monica-Eliza</li>
					<li>Coro&#x219; Andrei-&#x218;tefan</li>
					<li>G&#259;l&#259;&#539;anu Mircea-Andrei</li>
					<li>Grigore Marius-Constantin</li>
					<li>Iva&#x219;cu Gabriela</li>
					<li>Mazilu Florin</li>
					<li>R&#238;&#x219;canu Andrei</li>
					<li>Bogatu Ion</li>
				</ul>
			</li>	
			<li>ADMINISTRARE:
				<ul>
					<li>Maxim Drago&#x219; Andrei</li>
					<li>Rusu Bogdan</li>
				</ul>
			</li>
		</ul>
	</div>
</html>
