<div class="container-fluid" style="margin-top: 5%">
  <h1>Modulul 5: ChatBot</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>I. Interfata - Coordonator: Minea Vlad</p>
          <ul style="margin-left: 15%">
            <li>Adascalitei Mihai</li>
            <li>Macariu Camelia</li>
            <li>Manolache Ecaterina</li>
            <li>Insuratelu Madalina</li>
            <li>Dascalu Ana Maria</li>
            <li>Ursache Georgiana</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>II. Pregatirea resurselor de infomatii - Coordonator: Rusu Silviu</p>
          <ul style="margin-left: 15%">
            <li>Poieana Cosmin</li>
            <li>Perju Sanziana</li>
            <li>Malos Mihai Gabriel</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>III. Sistemul de dialog - Coordonator: Hardon Elena</p>
          <ul style="margin-left: 15%">
            <li>Chilaboc Ecaterina</li>
            <li>Ciofu Vlad</li>
            <li>Grosu Alexandru</li>
            <li>Stolnicu Simona</li>
            <li>Roman Stefan</li>
            <li>Rusu Gabriel</li>
            <li>Bejan Octavian</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>IV. Documentatie + prezentare PowerPoint</p>
          <ul style="margin-left: 15%">
            <li>Glodeanu Irina</li>

          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

