<div class="container-fluid" style="margin-top: 5%">
  <h1>7. Valorificarea imaginilor in teste:</h1>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>I. Procesarea imaginilor - Coordonator: Andrei Apostol</p>
      <ul style="margin-left: 15%">
        <li>Rares Bradea</li>
        <li>Andrei Herdes</li>
        <li>Denisa Sandulache</li>
        <li>Bianca Ababei</li>
        <li>Alexandru Leleu</li>
        <li>Florian Corduneanu</li>
        <li>Cristina Belcescu</li>
        <li>George Carbune</li>
        <li>Liviu Chirila</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>II. Maparea imaginilor la text - Coordonator: Tudor Negruser</p>
      <ul style="margin-left: 15%">
        <li>Oana Juravle</li>
        <li>Loredana Chirila</li>
        <li>Adrian Dones</li>
        <li>Delia Cazamir</li>
        <li>Laurentiu Cozma</li>
        <li>Alexandru Agape</li>
        <li>Marian Iordache</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>III. Preluare de imagini - Coordonator: Grozavu Andrei</p>
      <ul style="margin-left: 15%">
        <li>Daria Ungureanu</li>
        <li>Cosmin Tofan</li>
        <li>Bogdan Mihalachi</li>
        <li>Ionut Gitlan</li>
        <li>Ciprian Nemtoc</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>IV. Administrare - Stefania Simon</p>
    </div>
  </div>
</div>

