<div class="page-container">
  <div class="page-title">
    Valorificarea imaginilor in teste
  </div>
  <div class="page-subtitle">
    Grupa A1
  </div>
  <div class="page-description">
    Din grupa A1 submodulul 'Preluare de imagini' a avut ca responsabilitate colectarea imaginilor, prelucrarea imaginilor,
    compararea raspunsurilor si prelucrarea continutului fisierului cu text, submodulul 'Maparea imaginilor la text' s-a ocupat cu
    normalizarea intrebarilor si raspunsurilor pentru identificarea unei imagini corespunzatoare si generarea intrebarilor
    pe baza cuvintelor cheie, iar submodulul
    'Procesarea imaginilor' s-a ocupat cu
    identificarea textului dintr-o imagine medicala folosind Tesseract (model pre-antrenat),
    generarea de text-boxuri si folosirea opencv pentru albirea zonelor in care apare textul.
  </div>
  <div class="page-content">
    <div class="page-items-container">
      <div class="item-info-title">
          Procesarea imaginilor
        </div>
        <div class="item-info">
          <span>Coordonator: </span> Andrei Apostol
        </div>
        <div class="item-info">
          <span>Git repo: </span> <a href="https://github.com/AndreiXYZ/ProiectAI">here</a>
        </div>
        <div class="item-info">
          <span>Membri: </span>
          Rares Bradea, Andrei Herdes, Denisa Sandulache, Bianca Ababei, Alexandru Leleu,
          Florian Corduneanu, Cristina Belcescu, George Carbune, Liviu Chirila
        </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Maparea imaginilor la text
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Tudor Negruser
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="https://github.com/ReluNegruser/proiect-ai">here</a>
      </div>
        <div class="item-info">
        <span>Membri: </span>
          Oana Juravle, Loredana Chirila, Adrian Dones, Delia Cazamir, Laurentiu Cozma,
          Alexandru Agape, Marian Iordache
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Preluare de imagini
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Grozavu Andrei
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="https://github.com/dar-ungureanu/AI">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Daria Ungureanu, Cosmin Tofan, Bogdan Mihalachi, Ionut Gitlan, Ciprian Nemtoc
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Administrare
      </div>
      <div class="item-info">
        <span>Responsabil: </span> Stefania Simon
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="https://github.com/BocaBogdan/inteligenta-artificiala">here</a>
      </div>
    </div>
  </div>
</div>

