<div class="container-fluid" style="margin-top: 5%">
  <h1>5. Chatbot capabil sa poarte un dialog cu studentul(sesiune de I/R cu initiativa mixta)</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>I. Training data - Coordonator: Tuduri Eduard-Gabriel</p>
          <ul style="margin-left: 15%">
            <li>Ababei Adina</li>
            <li>Tudosa Ovidiu</li>
            <li>Perciun Alexandru-Adrian</li>
            <li>Mihaila Valerio-Andrei</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>II. Neural network - Coordonator: Pascaru Cosmin-Stefan</p>
          <ul style="margin-left: 15%">
            <li>Tuduri Eduard-Gabriel</li>
            <li>Ababei Adina</li>
            <li>Ungureanu Robert-Mihail</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>III. Natural Language Processing - Coordonator: Popa Ileana</p>
          <ul style="margin-left: 15%">
            <li>Ambroci Cosmin</li>
            <li>Chistol Maria</li>
            <li>Tincu Elvis</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>IV. Predefined questions - Coordonator: Popa Camil </p>
          <ul style="margin-left: 15%">
            <li>Lazar Mihaela</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>V. Verificarea raspunsurilor - Coordonator: Botezatu Andra </p>
          <ul style="margin-left: 15%">
            <li>Timofte Diana</li>
            <li>Acasandrei Raluca</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>VI. User Interface - Coordonator: Negrutu Ioana-Cristina </p>
          <ul style="margin-left: 15%">
            <li>Oana Daniel</li>
            <li>Podaru Rares</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>VII. Mock-up ontology - Iordache Roland </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>VIII. Administrare - Negrutu Ioana-Cristina</p>
        </div>
      </div>
    </div>
  </div>

</div>

