<div class="page-container">
  <div class="page-title">
    Chatbot capabil sa poarte un dialog cu studentul(sesiune de I/R cu initiativa mixta)
  </div>
  <div class="page-subtitle">
    Grupa A4
  </div>
  <div class="page-content">
    <div class="page-items-container">
      <div class="item-info-title">
        Training data
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Tuduri Eduard-Gabriel
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Ababei Adina, Tudosa Ovidiu, Perciun Alexandru-Adrian, Mihaila Valerio-Andrei
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Neural network
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Pascaru Cosmin-Stefan
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Tuduri Eduard-Gabriel, Ababei Adina, Ungureanu Robert-Mihail
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Natural Language Processing
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Popa Ileana
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Ambroci Cosmin, Chistol Maria, Tincu Elvis
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Predefined questions
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Popa Camil
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Lazar Mihaela
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Verificarea raspunsurilor
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Botezatu Andra
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Timofte Diana, Acasandrei Raluca
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        User interface
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Negrutu Ioana-Cristina
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Oana Daniel, Podaru Rares
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Mock-up ontology
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Iordache Roland
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Administrare
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Negrutu Ioana-Cristina
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
    </div>
  </div>

</div>

