<div class="container-fluid" style="margin-top: 5%">
  <h1>1. Achizitia unei ontologii din text:</h1>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>1.1 Pregatirea textelor – Vasilache Diana </p>
      <ul style="margin-left: 15%">
        <li>Bivol Daniel</li>
        <li>Ghergu Andreea</li>
        <li>Lungeanu Ionut</li>
        <li>Matrana Karina</li>
        <li>Marusic Iurie</li>
        <li>Palihovici Andrei</li>
        <li>Prodan Marius</li>
        <li>Tanasa Petru</li>
        <li>Turcu Nicusor</li>
        <li>Trifan Tamara</li>
        <li>Ulinici Cristina</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>1.2 Identificarea termenilor, proprietatilor, instantelor, relatiilor semantice - Leonte Maria</p>
      <ul style="margin-left: 15%">
        <li>Calancea Georgiana</li>
        <li>Chelmus Rares</li>
        <li>Motroi Valeriu</li>
        <li>Popa Andrei</li>
        <li>Talif Victor</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>1.3 Construirea ontologiei, filtrarea informatiilor extrase, lexicalizarea conceptelor- Procop Vladimir</p>
      <ul style="margin-left: 15%">
        <li>Borcan Andreea</li>
        <li>Catana Vasile</li>
        <li>Cercel Vlad-Ioan</li>
        <li>Ionita Alexandru</li>
        <li>Patriche Giulio</li>
        <li>Onofras Emilian</li>
        <li>Rosca Andreea</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>1.4 Administrare</p>
      <ul style="margin-left: 15%">
        <li>Calancea Georgiana</li>
        <li>Leonte Maria</li>
      </ul>
    </div>
  </div>
</div>
