<div class="container-fluid" style="margin-top: 5%">
  <h1>Generare de teste plecand de la o ontologie</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>I. Valorificarea ontologiei - Coordonator: Chile Ovidiu</p>
          <ul style="margin-left: 15%">
            <li>Clim Andrei</li>
            <li>Leustean Andrei</li>
            <li>Simionescu Darius</li>
            <li>Boca Alexandra</li>
            <li>Daneliuc Andrei</li>
            <li>Asofiei Petrica</li>
            <li>Miron Gabriel</li>
            <li>Cretu Andra</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>II. Generarea intrebarilor - Coordonator: Scurtu Vlad-Ionut</p>
          <ul style="margin-left: 15%">
            <li>Oprea Razvan</li>
            <li>Miron Sergiu</li>
            <li>Martinas Alexandru</li>
            <li>Coca Alina</li>
            <li> Murarasu Stefana-Raluca</li>
            <li> Voaides Alex</li>
            <li> Rusu Andrei</li>
            <li> Capusneanu Mihaela</li>
            <li> Musca Ioana</li>
            <li> Popa Lucian</li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>III. Evaluarea testelor - Coordonator: Butacu Robert</p>
          <ul style="margin-left: 15%">
            <li>Dochitoiu Alex</li>
            <li>Clatinici Eduard</li>
            <li>Urse Daniel</li>
            <li>Tudose Alexandru</li>
            <li>Marcu Alex</li>
            <li>Ungureanu Robert</li>
            <li>Folvaiter Alexandra</li>
            <li>Lazar Sorin-Livius</li>

          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-12">
          <p>VIII. Administrare - Scurtu Vlad-Ionut, Butacu Robert</p>
        </div>
      </div>
    </div>
  </div>

</div>
