<div class="page-container">
  <div class="page-title">
    Generare de teste plecand de la o ontologie
  </div>
  <div class="page-subtitle">
    Grupa B4
  </div>
  <div class="page-content">
    <div class="page-items-container">
      <div class="item-info-title">
        Valorificarea ontologiei
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Chile Ovidiu
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Clim Andrei, Leustean Andrei, Simionescu Darius, Boca Alexandra, Daneliuc Andrei,
        Asofiei Petrica, Miron Gabriel, Cretu Andra
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Generarea intrebarilor
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Scurtu Vlad-Ionut
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Oprea Razvan, Miron Sergiu, Martinas Alexandru, Coca Alina, Murarasu Stefana-Raluca,
        Voaides Alex, Rusu Andrei, Capusneanu Mihaela, Musca Ioana, Popa Lucian
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Evaluarea testelor
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Butacu Robert
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Dochitoiu Alex, Clatinici Eduard, Urse Daniel, Tudose Alexandru,
        Marcu Alex, Ungureanu Robert, Folvaiter Alexandra, Lazar Sorin
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Administrare
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Scurtu Vlad-Ionut, Butacu Robert
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
    </div>
  </div>
</div>
