.container {
  margin: auto;
}

.container-header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container-header--logo {
  width: auto;
  height: 100px;
}

.container--header--title,
.container--header--subtitle,
.container--title,
.container--subtitle {
  color: #DEE3E2;
}

.container--header--title {
  text-transform: uppercase;
  font-size: 24px;
}
.container--header--subtitle {
  font-size: 20px;
}

.container--title {
  font-size: 42px;
}

.container--subtitle {
  font-size: 36px;
}

.container--content {
  padding-left: 25px;
  font-size: 22px;
  color: #aaaaaa;
}

.content-list {
  margin-left: 15%;
}
