<div class="page-container">
  <div class="page-title">
    Valorificarea imaginilor in teste
  </div>
  <div class="page-subtitle">
    Grupa B2
  </div>
  <div class="page-content">
    <div class="page-items-container">
      <div class="item-info-title">
        Extragerea continutului din documente
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Silitra Dragos
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Anghelina Elena, Buza Madalina, Riza Adrian, Gherase Raluca, Simina A. Covatariu,
        Andrian Diana
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Identificarea tipului de imagine, informatii specifice tipurilor de imagini
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Grigoriu Anca
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Sparhat Mihai Cosmin, Minghel Alexandra, Anghelina Elena, Romanescu Stefan-Cosmin, Baciu Filip,
        Poputoaia Alexandru-Vasile, Boca Victor-Bogdan, Elisa Aioanei
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Interogarea colectiei de imagini, generearea de intrebari
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Rosca Valentin-Bogdan
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Mihai Alexandru, Dorneanu Dragos, Miron Alexandru, Netedu Mircea-Andrei, Joldescu Catalin-Petronel
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Administrare
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Poputoaia Alexandru-Vasile
      </div>
      <div class="item-info">
        <span>Git repo: </span> <a href="#">here</a>
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Boca Victor-Bogdan
      </div>
    </div>
  </div>
</div>
