<div class="container">
  <header  class="container-header" routerLink="/home">
      <div>
        <img class="container-header--logo" src="../../../../assets/ai.jpg"/>
      </div>
    <div>
      <span class="container--header--title">Tutore inteligent</span>
      <p class="container--header--subtitle">
      un sistem care ajuta studentul in actul de invatare
    </p>
    </div>
  </header>
  <h1 class="container--title">7. Valorificarea imaginilor în teste:</h1>
  <div class="row container--content">
    <div class="col-xs-6 col-md-12">
      <p class="container--subtitle">7.1 Extragerea continutului din documente – Silitră Dragoș</p>
      <ul class="content-list">
        <li>Anghelina Elena</li>
        <li>Buză Madalina</li>
        <li>Riza Adrian</li>
        <li>Gherase Raluca</li>
        <li>Simina A. Covatariu</li>
        <li>Andrian Diana</li>
      </ul>
    </div>
  </div>
  <div class="row container--content">
    <div class="col-xs-6 col-md-12">
      <p class="container--subtitle">7.2 Identificarea tipului de imagine, informatii specifice tipurilor de imagini - Grigoriu Anca</p>
      <ul class="content-list">
        <li>Sparhat Mihai Cosmin</li>
        <li>Minghel Alexandra</li>
        <li>Anghelina Elena</li>
        <li>Romanescu Stefan-Cosmin</li>
        <li>Baciu Filip</li>
        <li>Popuțoaia Alexandru-Vasile</li>
        <li>Boca Victor-Bogdan</li>
        <li>Elisa Aioanei</li>
      </ul>
    </div>
  </div>
  <div class="row container--content">
    <div class="col-xs-6 col-md-12">
      <p class="container--subtitle"> 7.3 Interogarea colectiei de imagini, generearea de intrebari - Roșca Valentin-Bogdan</p>
      <ul class="content-list">
        <li>Mihai Alexandru</li>
        <li>Dorneanu Dragos</li>
        <li>Miron Alexandru</li>
        <li>Netedu Mircea-Andrei</li>
        <li>Joldescu Cătălin-Petronel</li>
      </ul>
    </div>
  </div>
  <div class="row container--content">
    <div class="col-xs-6 col-md-12">
      <p class="container--subtitle">7.4 Administrare - Poputoaia Alexandru-Vasile</p>
      <ul class="content-list">
        <li>Boca Victor-Bogdan</li>
      </ul>
    </div>
  </div>
</div>
