<div class="page-container">
  <div class="page-title">
    Combinare de ontologii
  </div>
  <div class="page-subtitle">
    Grupa B7
  </div>
  <div class="page-content">
    <div class="page-items-container">
      <div class="item-info-title">
        Administrare
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Popescu Dimitrie
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Management
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Ilie Ionut Octavian, Dima Rares
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Traducere
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Ciobanu Alexandru, Pascaru Ilona, Dragomir Irina Andreea, Munteanu Alexandru
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Limbaj
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Sofian George Andrei, Puiu Danut Petru, Rusu Cristian Stefan, Tabusca Bogdan
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Conceptualizare
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Otrocol Robert, Ursu Vlad, Aungurenci Andreea, Melniciuc Teofil, Cristea Cristian, Lucaci Sergiu
	  </div>
	</div>
	<div class="page-items-container">
		  <div class="item-info-title">
			Link Github
		  </div>
		  <div class="item-info"> 
		  <a href="https://github.com/tavy14t/AI_OntologyMerge">
			  https://github.com/tavy14t/AI_OntologyMerge
			</a>
	      </div>
	</div>
  </div>
 </div>
