<div id="a5-page">
  <h1>Valorificarea imaginilor in procesul de invatare</h1>
	<div>
		<h3>Prezentare:</h3>
		<p>
			Modulul realizat de grupa A5 doreste sa faciliteze utilizarea imaginilor in interactiunea cu utilizatorul final, oferind creatorilor celorlalte module instrumente ce vor putea fi integrate cu usurinta in propriile solutii. Pentru a realiza acest lucru, modulul nostru va avea expuse functionalitati cheie ale fiecarui submodul, astfel incat programatorul ce doreste sa se foloseasca de modulul nostru poate sa utilizeze atat modulul intreg, cat si parti componente.
		</p>
		<h3>Submodule:</h3>
		<ol>
			<li>Extragere imagini din documente:
				<ul>
					<li>Aiaonei Dragos</li>
					<li>Burlacu Liviu-Alexandru</li>
					<li>Cojocariu Vladut-Adrian</li>
					<li>Huma Cristian</li>
					<li>Matcovici Stefan</li>
				</ul>
			</li>
			<li>Convertire imagine:
				<ul>
					<li>Gavrilita Rolland-Flavius</li>
					<li>Ghibirdic George-Daniel</li>
					<li>Marinov Bogdan-Mihail</li>
					<li>Ursache Alexandru</li>
				</ul>
			</li>
			<li>Interogare colectie de imagini:
				<ul>
					<li>Goldan Denise-Mihaela</li>
					<li>Luca Andrei</li>
					<li>Lupu Mihai-Bogdan</li>
					<li>Sitaru Ioana</li>
					<li>Soficu Corneliu</li>
				</ul>
			</li>
			<li>Recunoastere text in imagine si generare intrebari:
				<ul>
					<li>Arhip Andrei-Emanoil</li>
					<li>Danila Codrin</li>
					<li>Diaconu Dan</li>
					<li>Frunza Teodor-Octavian</li>
					<li>Harpa Codrin-Andrei</li>
					<li>Iftimesei Iaon</li>
					<li>Leuciuc Nicolae</li>
					<li>Lungu Radu-Ionut</li>
					<li>Lupascu Matei-Alexandru</li>
					<li>Opariuc Ioana-Ariana</li>
					<li>Rosca Alexandru</li>
					<li>Savescu Sabina</li>
					<li>Sfarghiu Andrei</li>
					<li>Vasiliu Ioana</li>

				</ul>
			</li>	
			<li>Administrare:
				<ul>
					<li>Corodescu Andrei-Alin</li>
				</ul>
			</li>
		</ol>
	</div>
</div>