<div class="home-container">
  <div class="home-header">
    <div class="image-container">
      <img class="home-image" src="../../../assets/ai.jpg" />
    </div>

    <div class="home-title">
      <div class="border"></div>
      Tutore inteligent

      <div class="home-description">
        un sistem care ajuta studentul in actul de invatare capabil sa-si organizeze cunoasterea din domeniu ca o ontologie,
        capabil sa poarte o conversatie asupra domeniului
      </div>
    </div>
  </div>
  <div class="home-content">
    <div class="home-content-title">
      <div class="border"></div>
      Utilizare si functionare
    </div>

    <div class="home-content-text">
      Domeniul in cazul de fata este cel medical. Avand un text din acest domeniu, programul trebuie sa fie
      capabil sa extraga din el o reprezentare semantica. De asemenea, programul ajuta la insusirea unor notiuni din
      acest domeniu, raspunde la intrebari, genereaza teste cu optiuni de raspunsuri, este capabil sa gestioneze corect
      imagini in teste, e	capabil sa lucreze cu	ontologii (o interfata ii va adauga functionalitatea de a citi un text).
    </div>
  </div>

  <div class="home-content">
    <div class="home-content-title">
      <div class="border"></div>
      Repartizare
    </div>

      <div class="home-content-text">
        Proiectul este impartit pe mai multe module, un modul de lucru fiind asignat cel putin unei grupe:
      </div>

  </div>
  <div class="home-content-list">
    <div class="home-content-li">
      <div class="home-li-desc">
        Achizitia unei ontologii din text
      </div>
      <div class="home-content-links">
        <a routerLink="/b5">B5 </a>
        <a routerLink="/b6">B6 </a>
        <a routerLink="/e"> E</a>
      </div>
    </div>
    <div class="home-content-li">
      <div class="home-li-desc">
        Combinare de ontologii
      </div>
      <div class="home-content-links">
        <a routerLink="/b7">B7</a>
      </div>
    </div>
    <div class="home-content-li">
      <div class="home-li-desc">
        Interfata text-Protege pentru vizualizare/editare
      </div>
      <div class="home-content-links">
        <a routerLink="/b1">B1</a>
        <a routerLink="/a3">A3</a>
      </div>
    </div>
  </div>
  <div class="home-content-list">
    <div class="home-content-li">
      <div class="home-li-desc">
        Generare de teste plecand de la o ontologie
      </div>
      <div class="home-content-links">
        <a routerLink="/a2">A2</a>
        <a routerLink="/a7">A7</a>
        <a routerLink="/b4">B4</a>
      </div>
    </div>
    <div class="home-content-li">
      <div class="home-li-desc">
        Chatbot capabil sa poarte un dialog cu studentul(sesiune de I/R cu initiava mixta)
      </div>
      <div class="home-content-links">
        <a routerLink="/b3">B3</a>
        <a routerLink="/a4">A4</a>
        <a routerLink="/a6">A6</a>
      </div>
    </div>
    <div class="home-content-li">
      <div class="home-li-desc">
        Interfata cu MOODLE pentru introducerea de note individualizate, exemple din manual, vizualizari de parti din ontologie

      </div>
    </div>
  </div>
  <div class="home-content-list">
    <div class="home-content-li single-element">
      <div class="home-li-desc">
        Valorificarea imaginilor in teste
      </div>
      <div class="home-content-links">
        <a routerLink="/b2">B2 </a>
        <a routerLink="/a1">A1</a>
        <a routerLink="/a5">A5</a>
      </div>
    </div>
  </div>
  <div class="home-content">
    <div class="home-content-title">
      <div class="border"></div>
      Learn & Earn
    </div>

    <div class="home-content-text dark">
      Cele mai bune echipe vor participa la competitia <a href="https://www.info.uaic.ro/bin/Programs/FIIandAmazon?language=ro">Learn&Earn</a>
      premiata de Amazon. Echipele selectionate vor fi reprezentate de 3 membri selectati de intreaga echipa.
      Acei membri vor pregati prezentarea si vor reprezenta echipa in fata juriului.
      Premiile din partea Amazon pentru echipa castigatoare vor fi primite de cei trei reprezentanti.
      Intreaga echipa va primi un bonus la punctaj in functie de clasarea la competitie.
    </div>
  </div>
</div>
