<div class="container-fluid" style="margin-top: 5%">
  <h2>Tutore Inteligent este un sistem care ajută studentul în actul de învățare:</h2>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <ul style="margin-left: 15%">
        <li>capabil să-și organizeze cunoașterea din domeniu ca o ontologie</li>
        <li>capabil să poarte o conversație asupra domeniului</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>Domeniul în cazul de față este cel medical. Avand un text din acest domeniu, programul trebuie sa fie capabil sa extraga din el o reprezentare semantica.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <h4>Proiectul este împarțit pe mai multe module. Un  modul de lucru fiind asignat cel putin unei grupe: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <ol style="margin-left: 15%">
          <li> Achizitia unei ontologii din text – <a routerLink="/b5">B5</a>, <a href="e">E</a></li>
          <li> Combinare de ontologii – <a href="b7">B7</a></li>
          <li> Interfata text-Protege pentru vizualizare/editare – <a href="b1">B1</a></li>
          <li> Generare de teste plecand de la o ontologie – <a href="b4">B4</a></li>
          <li> Chatbot capabil sa poarte un dialog cu studentul(sesiune de I/R cu initiava mixta) – <a href="b3">B3</a></li>
          <li> Interfata cu MOODLE pentru introducerea de note individualizate, exemple din manual, vizualizari de parti din ontologie</li>
          <li> Valorificarea imaginilor in teste – <a routerLink="/b2">B2</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <h4>Proiectul participa la programul <a href="https://www.info.uaic.ro/bin/Programs/FIIandAmazon?language=ro">Learn&Earn</a> organizat de Amazon din cadrul Facultații de Informatică a Universitații Al. I. Cuza din Iași. </h4>
    </div>
  </div>
</div>
