.home-container {
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
  background: linear-gradient(0deg, grey, black 60%);
  height: auto;
}

.home-header {
  display: flex;
}

.image-container {
  width: 50%;
  text-align: center;
}

.home-image {
  object-fit: cover;
  height: 400px;
  width: auto;
}

.home-title {
  margin: auto 0;
  border-top: 1px solid paleturquoise;
  position: relative;
  font-size: 32px;
  font-weight: 300;
  color: #DEE3E2;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.home-description {
  margin: 0;
  padding-top: 10px;
  letter-spacing: 2.5px;
  text-transform: none;
  font-weight: 100;
  font-size: 24px;
  color: #aaaaaa;
}

.home-list {
  margin: 0;
  padding-top: 50px;
  padding-left: 30px;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 100;
  font-size: 20px;
  color: #aaaaaa;
}

.home-content {
  width: 80%;
  margin-left: 200px;
  margin-top: 50px;
  font-size: 30px;
  color: #DEE3E2;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.home-content-title {
  border-top: 1px solid paleturquoise;
  width: 25%;
}

.home-content-text {
  text-transform: none;
  padding-top: 10px;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 20px;
  color: #aaaaaa;
}

.home-content-text.dark {
  color: white;
}

.home-content-text a {
  color: paleturquoise;
  text-decoration: none;
  font-weight: 300;
}

.home-content-list {
  width: 100%;
  display: flex;
  padding-top: 20px;
}

.home-content-li {
  width: 33.3%;
  text-align: center;
  margin-right: 10px;
  padding: 20px;
  border: 1px dotted #aaaaaa;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-transform: none;
}

.home-content-li.single-element {
  margin: 0 auto;
}

.home-content-links {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  bottom: 0;
}

.home-content-links a {
  color: paleturquoise;
}

.home-content-links a:hover {
  color: paleturquoise;
  text-decoration: none;
}

.home-content-links a:active {
  color: paleturquoise;
  text-decoration: none;
}

.home-content-links a:focus {
  color: paleturquoise;
  text-decoration: none;
}

.home-content-links a:visited {
  text-decoration: none;
}


@media only screen and (max-width: 1000px) {

  .image-container {
    width: 100%;
  }

  .home-image {
    margin: auto;
    height: 250px;
  }

  .home-header {
    display: block;
  }

  .home-title {
    margin: 50px 30px;
  }

  .home-content {
    width: 100%;
    margin-left: 0;
    padding: 0 30px;
  }

}
