<div class="container-fluid" style="margin-top: 5%">
  <h1>2. Combinare de ontologii</h1>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>2.1 Administrare</p>
      <ul style="margin-left: 15%">
        <li>Popescu Dimitrie</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>2.1 Management</p>
      <ul style="margin-left: 15%">
        <li>Ilie Ionut Octavian</li>
        <li>Dima Rares</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>2.2 Traducere</p>
      <ul style="margin-left: 15%">
        <li>Ciobanu Alexandru</li>
        <li>Pascaru Ilona</li>
        <li>Dragomir Irina Andreea</li>
        <li>Munteanu Alexandru</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>2.3 Limbaj</p>
      <ul style="margin-left: 15%">
        <li>Sofian George Andrei</li>
		<li>Puiu Danut Petru</li>
		<li>Rusu Cristian Stefan</li>
		<li>Tabusca Bogdan</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>2.4 Conceptualizare</p>
      <ul style="margin-left: 15%">
        <li>Otrocol Robert</li>
        <li>Ursu Vlad</li>
        <li>Aungurenci Andreea</li>
        <li>Melniciuc Teofil</li>
		<li>Cristea Cristian</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
   <h2><a routerLink="/home">Home</a></h2>
  </div>
</div>