<div class="page-container">
  <div class="page-title">
    Achizitia unei ontologii din text
  </div>
  <div class="page-subtitle">
    Grupa B5
  </div>
  <div class="page-content">
    <div class="page-items-container">
      <div class="item-info-title">
        Pregatirea textelor
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Vasilache Diana
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Bivol Daniel, Ghergu Andreea, Lungeanu Ionut, Matrana Karina, Marusic Iurie, Palihovici Andrei,
        Prodan Marius, Tanasa Petru, Turcu Nicusor, Trifan Tamara, Ulinici Cristina
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Identificarea termenilor, proprietatilor, instantelor, relatiilor semantice
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Leonte Maria
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Calancea Georgiana, Chelmus Rares, Motroi Valeriu, Popa Andrei, Talif Victor
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Construirea ontologiei, filtrarea informatiilor extrase, lexicalizarea conceptelor
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Procop Vladimir
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Borcan Andreea, Catana Vasile, Cercel Vlad-Ioan, Ionita Alexandru, Patriche Giulio,
        Onofras Emilian, Rosca Andreea
      </div>
    </div>
    <div class="page-items-container">
      <div class="item-info-title">
        Administrare
      </div>
      <div class="item-info">
        <span>Coordonator: </span> Calancea Georgiana, Leonte Maria
      </div>
      <div class="item-info">
        <span>Membri: </span>
        Borcan Andreea, Catana Vasile, Cercel Vlad-Ioan, Ionita Alexandru, Patriche Giulio,
        Onofras Emilian, Rosca Andreea
      </div>
    </div>
  </div>
</div>
