<div class="container-fluid" style="margin-top: 5%">
  <h1>7. Valorificarea imaginilor in teste:</h1>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>7.1 Extragerea continutului din documente – Silitră Dragoș</p>
      <ul style="margin-left: 15%">
        <li>Anghelina Elena</li>
        <li>Buză Madalina</li>
        <li>Riza Adrian</li>
        <li>Gherase Raluca</li>
        <li>Simina A. Covatariu</li>
        <li>Andrian Diana</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>7.2 Identificarea tipului de imagine, informatii specifice tipurilor de imagini - Grigoriu Anca</p>
      <ul style="margin-left: 15%">
        <li>Sparhat Mihai Cosmin</li>
        <li>Minghel Alexandra</li>
        <li>Anghelina Elena</li>
        <li>Romanescu Stefan-Cosmin</li>
        <li>Baciu Filip</li>
        <li>Popuțoaia Alexandru-Vasile</li>
        <li>Boca Victor-Bogdan</li>
        <li>Elisa Aioanei</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>7.3 Interogarea colectiei de imagini, generearea de intrebari - Roșca Valentin-Bogdan</p>
      <ul style="margin-left: 15%">
        <li>Mihai Alexandru</li>
        <li>Dorneanu Dragos</li>
        <li>Miron Alexandru</li>
        <li>Netedu Mircea-Andrei</li>
        <li>Joldescu Cătălin-Petronel</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p>7.4 Administrare - Poputoaia Alexandru-Vasile</p>
      <ul style="margin-left: 15%">
        <li>Boca Victor-Bogdan</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
   <h2><a routerLink="/home">Home</a></h2>
  </div>
</div>