.ia-index-header {
  width: 100%;
  height: 10vh;
  background-color: #0570AD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ia-index-header--title {
  font-size: 42px;
  color: #FFFF;
}

.ia-index-header--title:hover {
  text-underline: none;
}
