<header class='ia-index-header'>
  <p class='ia-index-header--title'>Inteligenta Artificiala</p>
  <div class='ia-index-subheader'>
    <button class="ia-index-header--button" type="button" routerLink="/home"
            routerLinkActive="ia-index-header--button--active">HOME
    </button>
    <button class="ia-index-header--button" type="button" routerLink="/b1"
            routerLinkActive="ia-index-header--button--active">B1
    </button>
    <button class="ia-index-header--button" type="button" routerLink="/b2"
            routerLinkActive="ia-index-header--button--active">B2
    </button>
    <button class="ia-index-header--button" type="button" routerLink="/b3"
            routerLinkActive="ia-index-header--button--active">B3
    </button>
    <button class="ia-index-header--button" type="button" routerLink="/b4"
            routerLinkActive="ia-index-header--button--active">B4
    </button>
    <button class="ia-index-header--button" type="button" routerLink="/b5"
            routerLinkActive="ia-index-header--button--active">B5
    </button>
    <button class="ia-index-header--button" type="button" routerLink="/b6"
            routerLinkActive="ia-index-header--button--active">B6
    </button>
    <button class="ia-index-header--button" type="button" routerLink="/b7"
            routerLinkActive="ia-index-header--button--active">B7
    </button>
  </div>
</header>
